:root {
  /* light mode */
  --primary: #111827;
  --muted: #6b7280;
  --dim: #9ca3af;
  --canvas: #ffffff;
  --surface-1: #f3f3f3;
  --surface-2: #f3f4f6;
  --surface-3: #ececec;
  --border: #e5e7eb;
  --accent: #0ea5e9;
  --accent-subtle: #f0f9ff;
  --success: #16a34a;
  --scrollbar-thumb: #eee;
  --scrollbar-track: white;

  --tab-active: #ffffff;
  --tab-inactive: var(--canvas);
  --tab-hover: var(--surface-2);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.dark {
  color-scheme: dark;

  /* dark mode */
  --primary: #f3f4f6;
  --muted: #9ca3af;
  --dim: #6b7280;
  --canvas: #121212;
  --surface-1: #252526;
  --surface-2: #1f2937;
  --surface-3: #2d2d2d;
  --border: #1f2937;
  --accent: #fbbf24;
  --accent-subtle: rgba(251, 191, 36, 0.1);
  --success: #4ade80;
  --scrollbar-thumb: #333;
  --scrollbar-track: #111;

  --tab-active: #1e1e1e;
  --tab-inactive: var(--canvas);
  --tab-hover: var(--surface-2);

  background: var(--canvas);
  color: var(--primary);
}

/* Splitpanes styling */
.splitpanes.loading .splitpanes__pane {
  transition: none !important;
}

.splitpanes__splitter {
  @apply relative bg-gray-200/50 dark:bg-gray-800/50;
  transition: background-color 0.2s;
  touch-action: none;
}

.splitpanes__splitter:hover {
  @apply bg-teal-500/50;
}

/* Larger hit area for touch/drag */
.splitpanes__splitter::after {
  content: '';
  position: absolute;
  z-index: 10;
}

.splitpanes--vertical > .splitpanes__splitter::after {
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  cursor: col-resize;
}

.splitpanes--horizontal > .splitpanes__splitter::after {
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
  cursor: row-resize;
}

/* Visual indicator */
.splitpanes__splitter:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  border-radius: 999px;
  opacity: 0.3;
  transition:
    opacity 0.2s,
    scale 0.2s;
  pointer-events: none;
}

.splitpanes--vertical > .splitpanes__splitter:before {
  width: 2px;
  height: 20px;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
  width: 20px;
  height: 2px;
}

.splitpanes__splitter:hover:before {
  opacity: 0.8;
  scale: 1.2;
}
